@import "./../../../styles/variables";

#span-list--container {
  width: 100%;
  display: flex;
  color: $colorGray;
  font-family: $fontRoboto;
  justify-content: space-between;

  &.capital-letters {
    text-transform: uppercase;
  }

  .span-list--content {
    padding: 0 8%;
    width: 50%;

  }

  .span-list--content--url {
    color: $colorPrimary;
    padding: 0 5%;
    text-align: right;
    width: 50%;

    text-transform: none;
    text-decoration: none;
    cursor: pointer;
  }
}