@import "./../../../styles/variables";

#span-list--container {
  width: 100%;
  display: flex;
  color: $colorGray;
  font-family: $fontRoboto;
  justify-content: space-between;

  &.capital-letters {
    text-transform: uppercase;
  }

  .span-list--item {
    padding: 0 8%;
    width: 50%;

    &.url {
      color: $colorPrimary;
      text-align: right;
      text-transform: none;
      text-decoration: none;
      cursor: pointer;
    }
  }
}