@import "./../../../styles/variables";
@import "./../../../styles/classes";

#global--title {
  font-family: $fontRoboto;
  color: $colorPrimary;
  font-size: 20px;
  text-align: left;
}

#global--subtitle {
  font-family: $fontRoboto;
  color: $colorGray;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}