#avatar-image {
  border-radius: 40%;

  &.image-big {
    width: 100px;
    height: 100px;
  }

  &.image-medium {
    width: 50px;
    height: 50px;
  }

  &.image-small {
    width: 30px;
    height: 30px;
  }
}