@import "./../../../styles/variables";

#container--screen {
  width: 92%;
  background-color: $colorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include border-radius(22px);
}