@import "./../../../styles/variables";

#card-header--container {
  display: flex;
  justify-content: center;

  .icon--container {
    width: 15%;
    margin: auto 10px auto 10px;

    .icon {
      width: 100%;
    }

  }

  .text--container {
    margin: auto 0;
  }

  &.header {
    width: 100%;
    padding: 15px 15px 0px 15px;
    margin-left: 20px;
    display: flex;
    justify-content: left;

    .icon--container {
      max-width: 50px;
    }

  }

  &.operations {
    .text--container {
      h2 {
        color: $colorSuccess !important;
        margin-bottom: 5px;
      }

      h3 {
        color: $colorRed !important;
      }
    }
  }

  &.currency-status {
    .text--container {
      h2 {
        color: $colorPrimary;
        font-size: 15px;
      }
    }

    .icon--container {
      width: 5%;
    }
  }

  &.text-big {
    .text--container {
      h2 {
        color: $colorPrimary;
        // font-size: 20px;
      }
    }
  }
}