@import "./../../../styles/variables";

#card-header--container {
  display: flex;

  .icon--container {
    width: 15%;
    margin: auto 10px auto 10px;

    .icon {
      width: 100%;
    }
  }

  .text--container {
    margin: auto 0;
  }

  &.operations {
    .text--container {
      h2 {
        color: $colorSuccess !important;
        margin-bottom: 5px;
      }

      h3 {
        color: $colorRed !important;
      }
    }
  }
}