@import "./../../../styles/variables";

#transaction-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;

  .transaction-item {
    width: 50%;
    display: flex;
    flex-direction: column;

    &.elements {
      align-items: flex-start
    }

    &.values {
      align-items: flex-end;

      @media screen and (min-width: $mobile-600) {
        padding-right: 50px;
      }

      @media screen and (max-width: $mobile-600) {
        padding-right: 30px;
      }

      @media screen and (max-width: $mobile-520) {
        padding-right: 10px;
      }
    }
  }
}

.overflow_scroll {
  max-height: 250px;
  overflow-y: scroll;
  width: 100%;
}