@import "./../../../styles/variables";

#currency-status {
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 280px;
  cursor: pointer;

  .principal {
    margin: 3px 0;

    &__span {
      color: $colorWhite;
    }
  }
}