@import "./styles/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#responsive--screen {
  width: 100%;
  max-width: $mobile-768;
  background-color: $colorBackground;
  display: flex;
  flex-direction: column;
  align-items: center;
}