@import "./../../../styles/variables";

.wrapper {
  width: 100%;
  font-family: $fontRoboto;
  position: relative;

  .input {
    width: 100%;
    height: 44px;
    padding: 10px 0 0 13px;
    border: 1px solid $colorBackground;
    @include border-radius(10px);
    box-sizing: border-box;
    display: block;
    font-size: 14px;

    &:-webkit-autofill {
      @include box-shadow(0 0 0 30px $colorWhite inset);
    }

    &:focus,
    &.filled {
      outline: none;

      &~label {
        top: 4px;
        font-size: 10px;
      }
    }

    &.error {
      border-color: $colorRed;
    }
  }

  .label {
    color: $colorGray;
    font-size: 14px;
    font-weight: normal;
    pointer-events: none;
    @include transition(all .2s ease-out);
    position: absolute;
    left: 13px;
    top: 16px;

    &.active {
      outline: none;
      top: 4px;
      font-size: 10px;
    }
  }
}

.message {
  color: $colorRed;
  font-family: $fontRoboto;
  font-size: 13px;
  font-weight: 300;
  display: none;
  margin: 10px 0 0 10px;

  &.error {
    display: block;
  }
}

.toggle {
  background-image: url("https://res.cloudinary.com/dpnhtd5na/image/upload/v1536956707/bms/view-pass_off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 14px;
  position: absolute;
  top: 13px;
  right: 10px;

  &.text {
    background-image: url("https://res.cloudinary.com/dpnhtd5na/image/upload/v1536956707/bms/view-pass_on.svg")
  }
}